<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="Platform.NET" version="1.2.0.233-rc1" targetFramework="net40" />
  <package id="Platform.VirtualFileSystem" version="1.1.0.109" targetFramework="net40" />
  <package id="Platform.Xml.Serialization" version="1.2.0.233-rc1" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net40" />
</packages>